<template>
  <div>
    <h1>Estudiantes</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul>
            <li v-for="item in estudiantes" :key="item.pk_estudiante">
              <strong>Nombre:</strong> {{ item.nombre }}
              <strong>Carnet:</strong> {{item.carnet}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Crear estudiante</h1>
          <label for="">Carnet</label>
          <input type="text" name="carnet" id="carnet">
          <br>
          <label for="">Nombre</label>
          <input type="text" name="nombre" id="nombre">
          <br>
          <button type="submit" v-on:click="sendNew">Registrar estudiante nuevo</button>
          <br>
          <br>
          <small>{{mesnaje}}</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data(){
    return {
      estudiantes: [],
      mesnaje: "Esperando resolución"
    }
  },
  mounted () {
    axios
      .get('http://localhost:1000/')
      .then(response => (this.estudiantes = response.data.body.estudiantes))
  },
  methods:{
    sendNew: function(event){
      event.preventDefault();
      let carnet = window.document.getElementById("carnet");
      let nombre = window.document.getElementById("nombre");
      axios
      .post('http://localhost:1000/estudiante/new/', JSON.stringify({"carnet": carnet, "nombre":nombre}))
      .then(response => (this.mesnaje = response))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
